:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #ff7404;
  --font-fam: "Montserrat", sans-serif;
  --height: 5rem;
  --btn-width: 7rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  --apple-music-col: #f94c57;
  --spotify-col: #04dc61;
  --bg-color: url(./images/orange-background.png);
  --typewriterSpeed: 3s;
  --typewriterCharacters: 20;
}

.line-1{
  position: relative;
  top: 50px;  
  width: 12.5em;
  margin: 30 auto;
  border-right: 2px solid #ff7404;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 2s steps(20) 1s 1 normal both,
           blinkTextCursor 500ms steps(20) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 12.5em;}
}
@keyframes blinkTextCursor{
from{border-right-color: #ff7404;}
to{border-right-color: transparent;}
}


h1 {
  color: #ff7404;
  top: 11px;
  left: 20px;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: var(--font-fam);
  position: relative;
  width: max-content;
}

p,
.subtitle {
  color: #ff5404;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  top: 240px;
  left: 120px;
}

.subtitle {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 4s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: gray;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: #ff7404;
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  position: absolute;
  top: 240px;
  left: 200px;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ff7404;
}

.nav__links .apple-music-link a:hover{
  color: var(--apple-music-col);
}

.nav__links .spotify-link a:hover {
  color: var(--spotify-col);
}

.cta {
  padding: 9px 25px;
  background-color: #ff7404;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(238, 87, 41, 0.685);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #edf0f1;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

.background-image {
  position: absolute;
  object-fit: cover;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  top: 520px;
  left: 525px;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 150px;
  height: 150px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 25px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 11px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .apple-music:hover,
.wrapper .apple-music:hover .tooltip,
.wrapper .apple-music:hover .tooltip::before {
  background-color: var(--apple-music-col);
  background-position: center;
  color: #ffffff;
}

.wrapper .apple-music:hover {
  background-color: var(--apple-music-col);
  background-image: url(./images/applemusic-colored.png);
}

.wrapper .apple-music {
  background-image: url(./images/applemusic-b&w.png);
}

.wrapper .spotify:hover,
.wrapper .spotify:hover .tooltip,
.wrapper .spotify:hover .tooltip::before {
  background-color: var(--spotify-col);
  background-position: center;
  color: #ffffff;
}

.wrapper .spotify:hover {
  background-color: #191414;
  background-image: url(./images/spotify-colored.png);
}

.wrapper .spotify {
  background-color: black;
  background-image: url(./images/spotify-b&w.png);
}

.wrapper .artists:hover,
.wrapper .artists:hover .tooltip,
.wrapper .artists:hover .tooltip::before {
  background-color: black;
  background-position: center;
  color: #ffffff;
}

.wrapper .artists:hover {
  background-color: #191414;
  background-image: url(./images/artists-colored.jpg);
}

.wrapper .artists {
  background-image: url(./images/artists-b&w.png);
}

.wrapper .artists:hover,
.wrapper .artists:hover .tooltip,
.wrapper .artists:hover .tooltip::before {
  background-color: #27A8E0;
  color: #ffffff;
}

.wrapper .songs:hover,
.wrapper .songs:hover .tooltip,
.wrapper .songs:hover .tooltip::before {
  background-position: center;
  color: #ffffff;
}

.wrapper .songs:hover {
  background-color: #191414;
  background-image: url(./images/songs-colored.png);
}

.wrapper .songs {
  background-image: url(./images/songs-b&w.png);
}

.wrapper .songs:hover,
.wrapper .songs:hover .tooltip,
.wrapper .songs:hover .tooltip::before {
  background-color: 	#e48e26;
}

.wrapper .general:hover,
.wrapper .general:hover .tooltip,
.wrapper .general:hover .tooltip::before {
  background-position: center;
  color: #ffffff;
}

.wrapper .general:hover {
  background-color: #191414;
  background-image: url(./images/general-colored.png);
}

.wrapper .general {
  background-image: url(./images/general-b&w.png);
}

.wrapper .general:hover,
.wrapper .general:hover .tooltip,
.wrapper .general:hover .tooltip::before {
  background-color: 	#e48e26;
}

.wrapper .albums:hover,
.wrapper .albums:hover .tooltip,
.wrapper .albums:hover .tooltip::before {
  background-color: var(--spotify-col);
  background-position: center;
  color: #ffffff;
}

.wrapper .albums:hover {
  background-color: #191414;
  background-image: url(./images/albums-colored.png);
}

.wrapper .albums {
  background-image: url(./images/albums-b&w.png);
}

.wrapper .albums:hover,
.wrapper .albums:hover .tooltip,
.wrapper .albums:hover .tooltip::before {
  background-color: #1565cc;
  color: #ffffff;
}


.search-bar {
  position: absolute;
  margin: auto;
  left: 550px;
  bottom: 400px;
}


form {
  position: relative;
  width: 50rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 2.5rem;
}
input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
input:not(:placeholder-shown) + button {
  display: block;
}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
